body {
  background-color: black;
}
.container {
  width: 60%;
  margin: 0 auto;
  border: 1px solid black;
  background-color: #eee;
  border-radius: 15px;
}

.todo-body {
  width: 80%;
  margin: 0 auto;
}
.form-control {
  display: inline;
  width: 70%;
}

.heading {
  font-size: 25px;
}

.details {
  background-color: black;
  padding: 8px;
  width: 70%;
  border-radius: 10px ;
}
.checked {
  text-decoration: line-through;
}